In [1]:
import requests
import pandas as pd
url = 'https://www.balldontlie.io/#get-all-players'

In [2]:
# Create empty dataframe
col_names = ['gameID', 'date', 'homeTeamScore', 'visitorTeamScore', 
             'season', 'period', 'status', 'time', 'postseasonBoolean', 
             'homeTeamID', 'homeTeamAbbrev', 'homeTeamCity', 'homeTeamConference', 
             'homeTeamDivision', 'homeTeamFullName', 'homeTeamName', 'visitorTeamID', 
             'visitorTeamAbbrev', 'visitorTeamCity', 'visitorTeamConference', 
             'visitorTeamDivision', 'visitorTeamFullName', 'visitorTeamName']
games_df = pd.DataFrame(columns=col_names)

In [4]:

# Get games for last 5 years
#games_url = f'https://www.balldontlie.io/api/v1/games?seasons[]={year}'
years = [2014, 2015, 2016, 2017, 2018]
for y in years:
    year = y
    games_url = f'https://www.balldontlie.io/api/v1/games?seasons[]={year}'
    data = requests.get(games_url).json()
    #print(data)
    for game in data['data']:
        games_df.loc[len(games_df.index)] = [ game['id'], game['date'], game['home_team_score'], 
                                             game['visitor_team_score'], game['season'], game['period'], 
                                             game['status'], game['time'], game['postseason'], game['home_team']['id'],
                                             game['home_team']['abbreviation'], game['home_team']['city'], game['home_team']['conference'], 
                                             game['home_team']['division'], game['home_team']['full_name'], game['home_team']['name'], 
                                             game['visitor_team']['id'], game['visitor_team']['abbreviation'], 
                                             game['visitor_team']['city'], game['visitor_team']['conference'], 
                                             game['visitor_team']['division'], game['visitor_team']['full_name'], 
                                             game['visitor_team']['name'] ]
#         games_df['gameID'] = game['id']
#         games_df['date'] = game['date']
#         games_df['homeTeamScore'] = game['home_team_score']
#         games_df['visitorTeamScore'] = game['visitor_team_score']
#         games_df['season'] = game['season']
#         games_df['period'] = game['period']
#         games_df['status'] = game['status']
#         games_df['time'] = game['time']
#         games_df['postseasonBoolean'] = game['postseason']
#         games_df['homeTeamID'] = game['home_team']['id']
#         games_df['homeTeamAbbrev'] = game['home_team']['abbreviation']
#         games_df['homeTeamCity'] = game['home_team']['city']
#         games_df['homeTeamConference'] = game['home_team']['conference']
#         games_df['homeTeamDivision'] = game['home_team']['division']
#         games_df['homeTeamFullName'] = game['home_team']['full_name']
#         games_df['homeTeamName'] = game['home_team']['name']
#         games_df['visitorTeamID'] = game['visitor_team']['id']
#         games_df['visitorTeamAbbrev'] = game['visitor_team']['abbreviation']
#         games_df['visitorTeamCity'] = game['visitor_team']['city']
#         games_df['visitorTeamConference'] = game['visitor_team']['conference']
#         games_df['visitorTeamDivision'] = game['visitor_team']['division']
#         games_df['visitorTeamFullName'] = game['visitor_team']['full_name']
#         games_df['visitorTeamName'] = game['visitor_team']['name']
        
games_df.head()

,gameID,date,homeTeamScore,visitorTeamScore,season,period,status,time,postseasonBoolean,homeTeamID,...,homeTeamDivision,homeTeamFullName,homeTeamName,visitorTeamID,visitorTeamAbbrev,visitorTeamCity,visitorTeamConference,visitorTeamDivision,visitorTeamFullName,visitorTeamName
0,27276,2014-11-06T00:00:00.000Z,108,87,2014,4,Final,,False,25,...,Northwest,Portland Trail Blazers,Trail Blazers,7,DAL,Dallas,West,Southwest,Dallas Mavericks,Mavericks
1,27277,2014-11-07T00:00:00.000Z,122,119,2014,4,Final,,False,4,...,Southeast,Charlotte Hornets,Hornets,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Hawks
2,27278,2014-11-08T00:00:00.000Z,87,98,2014,4,Final,,False,11,...,Southwest,Houston Rockets,Rockets,10,GSW,Golden State,West,Pacific,Golden State Warriors,Warriors
3,27279,2014-11-09T00:00:00.000Z,116,100,2014,4,Final,,False,25,...,Northwest,Portland Trail Blazers,Trail Blazers,8,DEN,Denver,West,Northwest,Denver Nuggets,Nuggets
4,27280,2014-11-10T00:00:00.000Z,85,89,2014,4,Final,,False,13,...,Pacific,LA Clippers,Clippers,27,SAS,San Antonio,West,Southwest,San Antonio Spurs,Spurs

In [5]:
games_df.shape

(250, 23)

In [12]:
# Get player data for each player in all of the games in the dataframe above

col_names2 = ["gameID", "statsID", "ast", "blk", "dreb", "fg3_pct", 
              "fg3a", "fg3m", "fg_pct", "fga", "fgm", "ft_pct", "fta", 
              "ftm", "min", "oreb", "pf", "playerID", "playerFirstName", 
              "playerHeightFeet", "playerHeightInches", "playerLastName", 
              "playerPosition", "team_id", "playerWeightPounds", "pts", 
              "reb", "stl", "teamID", "turnovers"]

game_stats_df = pd.DataFrame(columns=col_names2)

game_id_list = games_df['gameID']

for id in game_id_list[:1]:
    player_url = f'https://www.balldontlie.io/api/v1/stats?game_ids[]={id}'
    player_data = requests.get(player_url).json()
    #print(player_data)
    for stat in player_data['data']:
        game_stats_df.loc[len(game_stats_df.index)] = [ id, stat['id'], stat['ast'], stat['blk'],
                                                      stat['dreb'], stat['fg3_pct'], stat['fg3a'],
                                                      stat['fg3m'], stat['fg_pct'], stat['fga'],
                                                      stat['fgm'], stat['ft_pct'], stat['fta'],
                                                      stat['ftm'], stat['min'], stat['oreb'],
                                                      stat['pf'], stat['player']['id'], stat['player']['first_name'],
                                                      stat['player']['height_feet'], stat['player']['height_inches'],
                                                      stat['player']['last_name'], stat['player']['position'],
                                                      stat['player']['team_id'], stat['player']['weight_pounds'],
                                                      stat['pts'], stat['reb'], stat['stl'], stat['team']['id'],
                                                      stat['turnover'] ]
game_stats_df.head(10)

,gameID,statsID,ast,blk,dreb,fg3_pct,fg3a,fg3m,fg_pct,fga,...,playerHeightInches,playerLastName,playerPosition,team_id,playerWeightPounds,pts,reb,stl,teamID,turnovers
0,27276,708256,1,0,4,0.000,3,0,0.385,13,...,10,Parsons,F,1,230,11,4,0,7,1
1,27276,708257,1,0,3,0.286,7,2,0.353,17,...,0,Nowitzki,F,7,245,17,3,0,7,2
2,27276,708258,2,3,2,0.000,0,0,0.000,2,...,1,Chandler,C,11,240,4,3,0,7,1
3,27276,708259,1,0,3,0.000,1,0,0.462,13,...,None,Ellis,,10,None,14,3,1,7,2
4,27276,708260,1,0,3,0.400,5,2,0.222,9,...,None,Nelson,,22,None,6,4,0,7,1
5,27276,708261,4,0,2,0.000,2,0,0.286,7,...,3,Harris,G,7,185,7,3,1,7,0
6,27276,708262,1,0,1,0.000,0,0,0.600,5,...,None,Wright,,10,None,6,3,0,7,0
7,27276,708263,0,1,3,1.000,1,1,0.500,6,...,9,Aminu,F,22,220,7,5,2,7,0
8,27276,708264,2,0,2,0.000,2,0,0.375,8,...,0,Barea,G,7,185,8,2,2,7,0
9,27276,708265,0,0,1,0.000,1,0,0.200,5,...,None,Jefferson,,3,None,3,2,0,7,0

In [ ]:
# Create a table with the gameID and a 
# list of the player IDs that played in game